.movie-detail-container {
  justify-content: center;
  align-items: center;
}

.movie-detail-content {
  align-items: center;
  margin-top: 20px;
  width: 200px;
}

.movie-title {
  text-align: center;
  align-items: center;
}

.movie-info {
  display: flex;
  margin-top: 20px;
}

.movie-image {
  flex: 0 0 auto;
  width: -1000px;
  margin-right: 20px;
}

.movie-image img {
  width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 8px;
  margin-left: auto;
}


.movie-description {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


  
  