.dashboard-container {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
  }
  
  .dashboard-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .playlists {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 30px;
  }
  
  .playlist-container {
    min-width: 300px;
  }
  
  .playlist-container h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .playlist {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }  